@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@300;400;500;600;700&display=swap');

*, *::before, *::after { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 16px === 1em - 62.5% === 10px */
    color: #111111;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header, footer {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ======================== HEADER ======================== */

header {
    background-color: rgba(90, 59, 122, 0.863);
    padding: 2.5em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 300px;
}

nav picture a {
    display: flex;
    align-items: center;
    font-size: 4em;
}

.navbar__menu {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    gap: 2.6em;
}

.navbar__link{
    font-size: 2em;
    padding: 6px;
    display: inline-block;
    transition: background .5s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: rgb(218, 22, 185);
}

.with-icon{
    display: flex;
    align-items: center;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 220px;
    position: absolute;
    background-color: rgba(90, 59, 122, 0.863);
}

.submenu__link {
    display: block;
    padding: 1.2rem;
    font-size: medium;
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: rgb(218, 22, 185);
}

/* ======================== HEADER ======================== */

/* ======================== BANNER ======================== */

.banner {
    background-image: url(../img/2.Museo/Museo.jpg);
    padding: 22em;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.banner::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1111115b;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(0.9px) brightness(0.9);
}

.banner__content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: start;
    z-index: 2;
    position: relative;
}

.banner__title {
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    color: rgb(255, 230, 87)
}

.banner__text {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    color: rgb(50, 236, 190)
}

.banner__link {
    display: inline-block;
    font-size: medium;
    color: aliceblue;
    background-color: rgb(218, 22, 185);
    padding: 1.4em;
    border-radius: 3em;
    font-weight: 500;
}

.banner__link:hover {
    background-color: rgb(50, 236, 190);
    color: #111111;
    transition: background .4s ease-in-out;
}